@font-face {
    font-family: "Aleo";
    font-style: normal;
    src: url("./fonts/AleoVariableGX.ttf");
}

@font-face {
    font-family: "Aleo";
    font-style: italic;
    src: url("./fonts/AleoVariableItalicGX.ttf");
}

body {
    font-family: "Aleo" !important;
    margin: 0px;
    padding: 0px;
}

:root {
    --color-accent: #51a2da;
    --ui-square: 3rem;
    --select-button: 5.5rem;
}


header,
footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: none none auto;
    background-color: var(--color-accent);
    flex-shrink: 1;
}

#main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: clip;
}

div.pageholder {
    display: inline-block;
    overflow: auto;
    height: 100vh;

}

div.page {
    display: block;
    overflow: scroll;
}

.iconbutton {
    width: var(--ui-square);
    height: var(--ui-square);
    flex: none none auto;
}

.contextcontainer {
    height: var(--ui-square);
    display: flex;
    justify-content: start;
    flex-grow: 1;
}

.searchcontainer {
    height: var(--ui-square);
    display: flex;
    flex-grow: 4;
}

.label {
    margin: auto 0 auto 0.5rem;
    background-clip: padding-box;
    border-radius: 20px;
    /* background-color: #333333; */
    background-color: transparent;
    color: #ffffff;
    font-size: large;
    text-wrap: nowrap;
    padding: 0.3em 0.5em;
    border: 0.15rem solid #ffffff;
}

.searchbox {
    margin: auto auto auto 0;
    font-size: large;
    width: 100%;
    padding: 0.3em 0.5em;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.pageselector {
    height: var(--ui-square);
    justify-content: center;
    flex-wrap: nowrap;
}

#ideasbutton.pageselector {
    /* left: calc(var(--select-button) * 2.5); */
    transform: translateX(calc(var(--select-button) * 2.5));
    transition: 0.5s;
}

#backlogbutton.pageselector {
    /* left: calc(var(--select-button) * 1.5); */
    transform: translateX(calc(var(--select-button) * 1.5));
    transition: 0.5s;
}

#upnextbutton.pageselector {
    /* left: calc(var(--select-button) / 2); */
    transform: translateX(calc(var(--select-button) * 0.5));
    transition: 0.5s;
}

#nowbutton.pageselector {
    transform: translateX(calc(var(--select-button) * -0.5));
    transition: 0.5s;
}

#donebutton.pageselector {
    transform: translateX(calc(var(--select-button) * -1.5));
    transition: 0.5s;
}

#archivebutton.pageselector {
    transform: translateX(calc(var(--select-button) * -2.5));
    transition: 0.5s;
}

.pagebutton {
    height: var(--ui-square);
    width: var(--select-button);
    font-family: "Aleo";
    font-size: large;
    text-wrap: nowrap;
    overflow: clip;
    background-clip: padding-box;
    border-radius: 5px;
    margin: 0;
    padding: 0.3rem 0.5rem 0.3rem;
    background-color: transparent;
    color: #ffffff;
    border-style: none;
}

.pagebutton:hover {
    text-shadow: #ffffff;
    font-weight: bolder;
}

.currentbutton {
    width: calc(var(--select-button) * 1.4);
    /* background-color: black; */
    border-top-left-radius: calc(var(--select-button) / 4);
    border-top-right-radius: calc(var(--select-button) / 4);
    border-width: 3px;
    font-weight: bolder;
    font-size: x-large;
}

.taskcolumn {
    display: flex;
    width: fit-content;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    margin: auto;
    padding: 1rem;
    gap: 1rem;
    flex-shrink: 0;
    flex-grow: 1;
}

.taskcard {
    width: 25rem;
    height: auto;
    margin: 0;
    padding: 0 0.5rem;
    border-radius: 20px;
    border: 0.1rem solid #333333;
    box-shadow: 0.25rem 0.5rem 0.5rem #666666;
}

@media (max-width: 30rem) {
    .taskcard {
        width: 80vw;
    }
}

.taskcard h1 {
    padding: 0.1rem;
    margin: 0.5rem 0.4rem 0;
    font-size: large;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: clip;
}

.taskcard p {
    padding: 0.1rem;
    margin: 0.4rem;
    text-wrap: wrap;
    text-overflow: ellipsis;
    overflow: auto;
    max-height: 20ex;
    line-height: 2ex;
}

.taskcard textarea {
    width: 100%;
    margin: 0.5rem 0.5rem 0.5rem 0rem;
    font-family: "Aleo";
    box-sizing: border-box;
    border: 3px solid #ccc;
    background-color: white;
    font-size: 16px;
    resize: none;
}

textarea:focus {
    border-radius: 5px;
    border: 3px solid var(--color-accent);
    outline: none;
}

input:focus {
    border-radius: 5px;
    border: 3px solid var(--color-accent);
    outline: none;
}

/* [contenteditable] {
    border: 3px solid var(--color-accent)
} */