:root {
    --color-accent: #51a2da;
    --ui-square: 40px
}

body {
    margin: 0px;
    padding: 0px;
}

header,
footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: none none auto;
    background-color: var(--color-accent);
}


footer {
    height: calc(var(--ui-square) * 1.5);
}

#main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

div.page {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.button-icon {
    width: var(--ui-square);
    height: var(--ui-square);
    flex: none none auto;
}